@{
    ViewBag.Title = "No Encontrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>El RUT que buscaba no se encuentra o lo ha ingresado mal</h3>
<br />
<div>
    @Html.ActionLink("Regresar", "Index")
</div>
