@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        @Html.ActionLink("CRUD Dueños", "Index", "Dueno")
    </div>
    <div>
        @Html.ActionLink("CRUD Vehiculos", "Index", "Vehiculo")
    </div>
