@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string user = Session["username"].ToString();
    string[] newuser = user.Split(' ');
    string userName = newuser[2].ToString() + " " + newuser[0].ToString() + " " + newuser[1].ToString();

}


    <h1>Bienvenido @userName.</h1>
