@{
    ViewBag.Title = "No Encontrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>La Patente que busca no se encuentra o la ha ingresado mal</h2>
<br />
<div>
    @Html.ActionLink("Regresar", "Index")
</div>