* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-size: 0.85em;
    font-family: 'open_sansregular';
}

.main {
    background: #fff;
    width: 90%;
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
}

    .main .contenido {
        padding: 15px;
        margin: 0 auto;
    }

header {
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 10px auto 0px auto;
}

    header nav {
        background: #009688;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        header nav ul {
            list-style: none;
            display:flex;
        }

            /*header nav ul li {
                float: left;
            }*/

                header nav ul li a {
                    padding: 10px 20px;
                    display: block;
                    color: #fff;
                    font-family: 'open_sanssemibold', sans-serif;
                    text-decoration: none;
                }

                    header nav ul li a:hover {
                        background: #B2DFDB;
                        color: #00897b;
                    }

        header nav h4 {
            color:white;
        }

        header nav a.sesion {
            color:white;
            padding: 0px 20px;
        }

        header nav a.sesion:hover {
           color:#000000;
        }

th, h1, h2, h3, h4, h5, h6 {
    font-family: open_sanssemibold;
}

    h2.advertencia {
        color:red;
    }

table {
    text-align: left;
    line-height: 40px;
    border-collapse: collapse;
    width: 100%;
    margin: 30px auto;
}

thead tr:first-child {
    background: #00897b;
    color: #fff;
    border: none;
}

th:first-child,
td:first-child {
    padding: 0 15px 0 20px;
}

thead tr:last-child th {
    border-bottom: 3px solid #ddd;
}

tbody tr:hover {
    background-color: #b2dfdb;
    cursor: default;
}

tbody tr:last-child td {
    border: none;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

td:last-child {
    text-align:justify;
    padding-right: 10px;
}

/*buscadores*/
div.buscar {
    margin: 10px auto;
}

/*helpers*/

input#RUT::-webkit-input-placeholder {
    font-size: 0.7em;
    color: #a39c9c;
    font-style: italic;
}

input#RUT:-moz-placeholder {
    font-size: 0.7em;
    color: #a39c9c;
    font-style: italic;
}

input#RUT::-moz-placeholder {
    font-size: 0.7em;
    color: #a39c9c;
    font-style: italic;
}

input#RUT:-ms-input-placeholder {
    font-size: 0.7em;
    color: #a39c9c;
    font-style: italic;
}

input#Patente::-webkit-input-placeholder {
    font-size: 0.7em;
    color: #a39c9c;
    font-style: italic;
}

input#Patente:-moz-placeholder {
    font-size: 0.7em;
    color: #a39c9c;
    font-style: italic;
}

input#Patente::-moz-placeholder {
    font-size: 0.7em;
    color: #a39c9c;
    font-style: italic;
}

input#Patente:-ms-input-placeholder {
    font-size: 0.7em;
    color: #a39c9c;
    font-style: italic;
}

form input[type=submit], input[type=button] {
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
form input[type=submit]:hover, input[type=button]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
form input[type=submit]:active, input[type=button]:active {
	position:relative;
	top:1px;
}

form input[type=text], input[type=number], select {
  font-family: 'open_sansregular', sans-serif;
  background: #fff;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

form label, .editor-label, .display-label {
    font-family: 'open_sansbold', sans-serif;
}

div.botonera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:320px;
}

div.botonera input[type=button].cancelar:hover {
	background:linear-gradient(to bottom, #AF0B0B 5%, #D41C1C 100%);
    background-color:#a14646;
}
div.botonera input[type=submit]:active, input[type=button]:active {
	position:relative;
	top:1px;
}

div.botonera input[type=button].cancelar {
    background-color: #822626;
    box-shadow: inset 0px 1px 0px 0px #822626;
    border: 1px solid #822626;
}



/*Validaciones estilos*/
.validation-summary-errors {
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.validation-summary-errors ul li {
    font-weight: bold;
    font-size: 0.9em;
    color:red;
}

.field-validation-error {
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.9em;
    color:red;
}

p#errores {
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.9em;
    color:red;
}

/*Forms*/

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    margin-bottom: 5px;
    font-weight:bold;
    font-size: 1.1em;
}




@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
